body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    background-image: url('images/background.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
        
}

.logo-container {
    text-align: center; /* Center the logo image */
    margin-bottom: 20px; /* Space between the logo and the button */
}

.logo-container img {
    width: 150px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}
.grayed-out {
    opacity: 0.4;
    pointer-events: none; /* Prevent further clicks */
}

.unselectable {
    opacity: 0.6;
    pointer-events: none; /* Prevent further clicks */
    background-color: #ff0000 !important; /* Optional: change background to indicate unselectability */
}

.header-title-logo img {
    visibility: hidden;
}
.header-title-logo a {
    background-image: url('images/bnet-logo-01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.character-select-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character {
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: #f4f4f481;
}

.character:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.character img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.character p {
    margin-top: 10px;
}

.selected {
    border-color: #f2ff00;
}

.button-container {
    margin-top: 10px;
}

#resetButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#sortButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

